POSTGRES_USER=yavirac
POSTGRES_PASSWORD=CAMBIAR_POR_PASSWORD_LOCAL
POSTGRES_DB=yavirac

DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=yavirac
DB_POSTGRESDB_USER=yavirac
DB_POSTGRESDB_PASSWORD=CAMBIAR_POR_PASSWORD_LOCAL
DB_POSTGRESDB_SCHEMA=n8n

GENERIC_TIMEZONE=America/Guayaquil
TZ=America/Guayaquil